.sarav_themeoption .input-field { text-align: left; width:50%; height:40px; box-shadow:none; border:1px solid #ccc; }
.sarav_themeoption .button{ height:40px !important; }
.sarav_themeoption .description{ display:block; margin-top:5px; }